html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6B2F50;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}

.category-link {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.title {
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    line-height: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.info {
    font-family: "Inter", serif;
    font-size: 30px;
    margin-top: -50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* book title.. */

.book-title {
    font-family: "Inter", sans-serif;
    font-size: 4.5rem; 
    font-weight: lighter;
    margin: 70px 0 0 20px; 
    padding-left: 0px;
    /* letter-spacing: -5px; */
}


.book-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px; 
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.book-description {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    max-width: 950px;
    line-height: 1.6;
    margin: 30px 0 0 20px; 
}
.book-meta {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    max-width: 300px;
    text-align: left;
    flex-shrink: 0; 
    margin: 34px 0 0 0px; 
}
.meta-item {
    margin-bottom: 10px;
    font-weight: 300;
}

.meta-item span {
    font-weight: bold;
}

.check_icon {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

/* book images... */

.book-images {
    margin-top: 50px;
    padding: 0 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px; 
    justify-content: center;
}
.image-grid img {
    width: 100%;
    height: 130;
    object-fit: cover; 
    background: #ddd; 
}




/* bottom arrow... */
.navigation-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    padding: 20px 0px;
}
.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 320px; 
}
.arrow-icon {
    width: 180px; 
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.arrow-icon:hover {
    transform: scale(1.1); 
}
.arrow-up {
    cursor: pointer;
}


.categories {
    margin-top: 0px;
    padding: 20px;
}
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    border-bottom: 7px solid black;
    position: relative;
    overflow: hidden;
    
}

.category:first-child {
    border-top: 7px solid black;
}

.light-text {
    font-family: "Inter", Italic;
    font-weight: lighter;
    font-size: 110px;
}
.bold-text {
    font-family: "Inter", serif;
    font-weight: medium;
    text-transform: uppercase;
}
.low {
    text-transform: lowercase;
}


 /* images  */
.irma_1 {
    width: 200px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}
.irma_2 {
    width: 180px;
    height: auto;
    vertical-align: middle;
}

.jan_1 {
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.jan_2 {
    width: 180px;
    height: 120px;
    vertical-align: middle;
    margin: 0 10px;
}

.vignelli_1 {
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}
.vignelli_2 {
    width: 180px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}

.crouwel_1 {
    width: 130px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.crouwel_2 {
    width: 200px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.carson_1 {
    width: 100px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.carson_2 {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
} 
.sagmeister_1 {
    width: 110px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.sagmeister_2 {
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.rand_1 {
    width: 110px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.rand_2 {
    width: 180px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.munari_1 {
    width: 75px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.munari_2 {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
.martens_1 {
    width: 170px;
    height: auto;
    vertical-align: middle;
    margin: 0 10px;
}
.martens_2 {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 0 0px;
}
 /* images  */


 
.flow-animation {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    padding: 10px 0px;
}
.marquee-inner {
    display: flex;
    gap: 50px;
    width: max-content;
    animation: marqueeScroll 15s linear infinite;
}
.marquee-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    width: max-content;
}

.marquee-irma {
    animation: marqueeScroll 30s linear infinite;
}
.marquee-jan {
    animation: marqueeScroll 15s linear infinite;
}
.marquee-vignelli {
    animation: marqueeScroll 10s linear infinite;
}
.marquee-crouwel {
    animation: marqueeScroll 28s linear infinite;
}
.marquee-carson {
    animation: marqueeScroll 15s linear infinite;
}
.marquee-sagmeister {
    animation: marqueeScroll 8s linear infinite;
}
.marquee-rand {
    animation: marqueeScroll 20s linear infinite;
}
.marquee-munari {
    animation: marqueeScroll 15s linear infinite;
}
.marquee-martens {
    animation: marqueeScroll 8s linear infinite;
}

@keyframes marqueeScroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.highlight-text {
    color: red; 
}

.modal {
    visibility: hidden; 
    opacity: 0;

    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.modal-content {
    background: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

body {
    transition: background-color 0.4s ease-in-out, 
                color 0.4s ease-in-out;
}

.category {
    transition: background-color 0.4s ease-in-out, 
                color 0.4s ease-in-out;
    pointer-events: auto; 
    z-index: 10; 
}

@media screen and (max-width: 1024px) {
    .book-title {
        font-family: "Inter", sans-serif;
        font-size: 4.2rem; 
        font-weight: lighter;
        margin: 70px 0 0 20px; 
        padding-left: 0px;
      
    }


    .book-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px; 
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .book-description {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        max-width: 650px;
        line-height: 1.6;
        margin: 30px 0 0 20px; 
    
    }
    .book-meta {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        max-width: 300px;
        text-align: left;
        flex-shrink: 0; 
        margin: 34px 0 0 0px; 
       
    }

    


    .meta-item {
        margin-bottom: 10px;
        font-weight: 300;
    }
    
    .meta-item span {
        font-weight: bold;
    }
    
    .check_icon {
        width: 30px;
        height: auto;
        vertical-align: middle;
    }
    .check_icon {
        width: 20px;
        height: auto;
        vertical-align: middle;
    }

    .arrow-icon {
        width: 140px; 
        height: auto;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    .navigation-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
        padding: 20px 0;
    }
    .arrow-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px; 
    }

    .categories {
        margin-top: 0px;
        padding: 20px;
    }
    
    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90px;
        border-bottom: 6px solid black;
        position: relative;
        overflow: hidden;
    }
    
    .category:first-child {
        border-top: 6px solid black;
    }
    
    .light-text {
        font-family: "Inter", Italic;
        font-weight: lighter;
        font-size: 90px;
    }

}

@media screen and (max-width: 800px) {

    .book-title {
        font-family: "Inter", sans-serif;
        font-size: 3.2rem; 
        font-weight: lighter;
        margin: 70px 0 0 20px; 
        padding-left: 0px;
      
    }

    .book-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px; 
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .book-description {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        max-width: 470px;
        line-height: 1.6;
        margin: 30px 0 0 20px; 
    
    }

    .book-meta {
        font-family: "Inter", sans-serif;
        font-size: 0.9rem;
        max-width: 300px;
        text-align: left;
        flex-shrink: 0; 
        margin: 34px 0 0 0px; 
       
    }
     
    
    .meta-item {
        margin-bottom: 10px;
        font-weight: 300;
    }
    
    .meta-item span {
        font-weight: bold;
    }
    
    .arrow-icon {
        width: 140px; 
        height: auto;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }

    .navigation-arrows {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
        padding: 20px 0;
    }
    .arrow-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 140px; 
    }
}


@media screen and (max-width: 525px) {

    .book-title {
        font-family: "Inter", sans-serif;
        font-size: 3rem; 
        font-weight: lighter;
        margin: 70px 0 0 20px; 
        padding-left: 0px;
      
    }
    
    .book-info {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px; 
    }

  
    .book-description {
        width: 100%;
        text-align: left; 
        font-size: 1rem; 
    }

    .book-meta {
        width: 100%;
        text-align: left; 
        font-size: 0.9rem;
        margin-top: 20px; 
        margin-left:20px;
    }

    .meta-item {
        display: flex;
        align-items: center;
        gap: 5px; 
    }

    .check_icon {
        width: 16px;
    }
    .image-grid {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .image-grid img {
        width: 100%;
        height: auto;
    }
    .navigation-arrows {
        display: none;
    }

    .modal {
        visibility: hidden; 
        opacity: 0;
    
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7); 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .modal-content {
        background: white;
        padding: 25px;
        width: 80%;
        border-radius: 30px;
        max-width: 600px;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        font-family: "Inter", sans-serif;
        font-size: 18px;
    }
   
}